body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: rgb(86, 215, 247); */
    height: 100%;
}

.cont {
    /* color: #000000; */
    background: linear-gradient(to top, #ffffff 0%, #f8f8fa 100%);
    min-height: 100vmin;
}